<div>
    <div class="modal-header">
        <h3>{{strategyType=='business'?'商务':'经济'}}策略</h3>
    </div>
    <div class="modal-body">
        <div class="form ">

            <div ng-if="isApprove " class="form-group form-group-sm m-b-sm">
                <label class="col-sm-2">调整人</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{apply.applier}}</p>

                </div>
                <div class="clearfix"></div>
            </div>

            <div ng-if="different!={} " class="form-group form-group-sm m-b-sm">
                <label class="col-sm-2">本次调整原因</label>
                <div class="col-sm-8">
                    <textarea style="height: auto" ng-disabled="isApprove" class=" form-control" rows="2"
                              ng-model="apply.reason"></textarea>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group form-group-sm m-b-sm ">
                <label class="col-sm-2">OD</label>
                <div class="col-sm-8">
                    <input class=" form-control" ng-disabled="model._id" type="text" ng-model="model.od"/>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group form-group-sm m-b-sm ">
                <label class="col-sm-2">POO</label>
                <div class="col-sm-8">
                    <input class=" form-control" ng-disabled="model._id" type="text" ng-model="model.poo"/>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="form-group form-group-sm m-b-sm ">
                <label class="col-sm-2">Benchmark OD</label>
                <div class="col-sm-8">
                    <input class=" form-control" ng-disabled="isApprove" ng-change="showDifferent()" type="text"
                           ng-model="model.benchmarkOd"/>
                </div>
                <span ng-if="different.benchmarkOd" class="text-danger inline p-xxs"> {{different.benchmarkOd}}</span>
                <div class="clearfix"></div>
            </div>
            <div class="form-group form-group-sm m-b-sm ">
                <label class="col-sm-2">Benchmark CXR</label>
                <div class="col-sm-8">
                    <input class=" form-control" ng-disabled="model._id" type="text" ng-model="model.benchmarkCxr"/>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group form-group-sm m-b-sm ">
                <label class="col-sm-2">TaxGap</label>
                <div class="col-sm-8">
                    <input class=" form-control" ng-disabled="isApprove" ng-change="showDifferent()" type="text"
                           ng-model="model.taxgap"/>
                </div>
                <span ng-if="different.taxgap" class="text-danger inline p-xxs"> {{different.taxgap}}</span>
                <div class="clearfix"></div>
            </div>
            <div class="form-group form-group-sm m-b-sm ">
                <label class="col-sm-2">Weekday</label>
                <div class="col-sm-8">
                    <input class=" form-control" ng-disabled="isApprove" ng-change="showDifferent()" type="text"
                           ng-model="model.weekday"/>
                </div>

                <span ng-if="different.weekday" class="text-danger inline p-xxs"> {{different.weekday}}</span>
                <div class="clearfix"></div>
            </div>
            <div class="form-group form-group-sm m-b-sm ">
                <label class="col-sm-2">Flight</label>
                <div class="col-sm-8">
                    <input class=" form-control" ng-disabled="isApprove" ng-change="showDifferent()" type="text"
                           ng-model="model.flight"/>
                </div>
                <span ng-if="different.flight" class="text-danger inline p-xxs"> {{different.flight}}</span>

                <div class="clearfix"></div>
            </div>
            <div class="form-group form-group-sm m-b-sm ">
                <label class="col-sm-2">Season</label>
                <div class="col-sm-8">
                    <input class=" form-control" ng-disabled="isApprove" ng-change="showDifferent()" type="text"
                           ng-model="model.season"/>
                </div>
                <span ng-if="different.season" class="text-danger inline p-xxs"> {{different.season}}</span>

                <div class="clearfix"></div>
            </div>
            <div class="form-group form-group-sm m-b-sm">
                <label class="col-sm-2">提前期策略</label>
                <div class="col-sm-8">
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th ng-repeat="gap in gapList">{{gap}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="gap in gapList">
                                <input class="line-input line-input-sm pull-left" ng-disabled="isApprove"
                                       ng-model="model[gap]"
                                       ng-change="showDifferent()">
                                <span ng-if="different[gap]" class="text-danger p-xxs">{{different[gap]}}</span>
                            </td>

                        </tr>
                        </tbody>

                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group form-group-sm m-b-sm ">
                <label class="col-sm-2">KeyOD?</label>
                <div class="col-sm-8">
                    <input class=" form-control" ng-disabled="isApprove" ng-change="showDifferent()" type="text"
                           ng-model="model.keyod"/>
                </div>
                <span ng-if="different.keyod" class="text-danger inline p-xxs"> {{different.keyod}}</span>
                <div class="clearfix"></div>
            </div>
            <div class="form-group form-group-sm m-b-sm ">
                <label class="col-sm-2">AutoCalc</label>
                <div class="col-sm-8">
                    <input class=" form-control" ng-disabled="isApprove" ng-change="showDifferent()" type="text"
                           ng-model="model.autocalc"/>
                </div>
                <span ng-if="different.autocalc" class="text-danger inline p-xxs"> {{different.autocalc}}</span>
                <div class="clearfix"></div>
            </div>

            <small class="text-muted col-md-offset-2 col-md-10 m-b-sm">维护以下项目不需要审核</small>
            <div class="form-group form-group-sm m-b-sm">
                <label class="col-sm-2">Strategy Type</label>
                <div class="col-sm-8">
                    <textarea style="height: auto" class=" form-control" rows="3"
                              ng-model="model.strategyType"></textarea>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group form-group-sm m-b-sm">
                <label class="col-sm-2">Comments</label>
                <div class="col-sm-8">
                    <textarea style="height: auto" class=" form-control" rows="3" ng-model="model.comments"></textarea>
                </div>
                <div class="clearfix"></div>
            </div>


        </div>

    </div>
    <div class="modal-footer">

        <button type="button" ng-if="!isApprove" class="btn btn-info" ng-click="save()">提交审核</button>
        <button type="button" ng-if="isApprove" class="btn btn-danger" ng-click="approve()">通过审核</button>
        <button type="button" class="btn btn-white" ng-click="cancel()">取消</button>
    </div>
</div>
